extends outside
block splash
  .splash
    .hero
      .notification.is-info
        .control
          .content  blap
          
          .columns
            .column
              a.button(href="/login") Login
            .column
              a.button(href="/register") Register